{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<header>
		<div class="header-content">
			<div class="header-content-inner">
				<h2 id="homeHeading">Welcome and thank you for donating blood.</h2>
				<hr>
				<p id="homeHeadingSubtitle">
					Donating blood is extremely important. Not only does it save lives, but we guarantee you'll feel a lot better knowing you helped someone. To make our lives (as well as yours) easier, we created this web application so we can easily manage blood donations, supplies and our donors.
				</p>
				<p>
					If you already have an account, please sign in, otherwise you can sign up!
				</p>
				<a href="{% url 'account_signup' %}" class="btn btn-danger btn-xl page-scroll">Register</a>
				<a href="{% url 'account_login' %}" class="btn btn-danger btn-xl page-scroll">Log in</a>
			</div>
		</div>
	</header>
{% endblock content %}

{% block javascript %}
	{{ block.super }}

	<script>
		$('body').addClass('bg-image');
	</script>
{% endblock javascript %}