.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.progress {
  margin-bottom: 20px; }

.container {
  margin-top: 30px; }

.blood-type-row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.bg-image {
  background: url("/static/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../img/opatija.jpg");
  text-align: center;
  color: white; }

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%; }

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px; }

header .header-content .header-content-inner hr {
  margin: 30px auto; }

header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px; }

.header-content-inner {
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.4); }

.bg-red {
  background-color: #E02D4E; }
