{% extends "base.html" %}
{% load i18n %}

{% block content %}

<br><br>
<div class="card">
  <article class="card-group-item">
    <header class="card-header">
      <h2>{{ request.user.first_name}} {{ request.user.last_name}}</h2>
    </header>
    <div class="filter-content">
      <div class="card-body">
        <p><strong>{% trans "Tel. number:" %} </strong> {{ request.user.telephone_number }} </p>
        <p><strong>{% trans "Date of birth:" %} </strong> {{ request.user.date_of_birth }}</p>
        <p><strong>{% trans "Gender:" %} </strong>{{ request.user.gender }}</p>
        <p><strong>{% trans "Location:" %} </strong> {{ request.user.location }}</p>
        <p><strong>{% trans "Institution" %} </strong> {{ request.user.institution.name }}</p>
        <p><strong>{% trans "Blood type:" %} </strong>{{ request.user.bloodtype }}</p>
        <footer><button class="btn btn-primary">{% trans "Edit" %}&nbsp<i class="far fa-edit"></i></button></footer>
      </div> <!-- card-body.// -->
    </div>
  </article> <!-- card-group-item.// -->

</div> <!-- card.// -->
{% endblock content %}