{% extends "base.html" %}
{% load i18n humanize %}

{% block content %}
  {# Admin supply overview #}
  <div class="container">
    <div class="row">
      <h1>Blood overview: <small>{{ institution.name }}</small></h1>
    </div>
    {% for amount in amounts %}
      <div class="row blood-type-row">
        <div class="col-md-1">
          <h6>{{ amount.bloodtype }} <small>({{ amount.amount }})</small></h6>
        </div>
        <div class="col-md-10">
          <div class="progress">
            <div class="progress-bar {% if amount.amount <= 30 %}
              bg-danger
            {% elif amount.amount > 30 and amount.amount <= 60 %}
              bg-warning
            {% else %}
              bg-success
            {% endif %} progress-bar-striped" role="progressbar" aria-valuenow="{{ amount.amount }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ amount.perc_amount }}%">
              <span>{{ amount.perc_amount|floatformat:0|intcomma }}%</span>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <a href="{% url 'send_notification' institution.pk amount.bloodtype %}" class="btn btn-primary btn-sm">Request more</a>
        </div>
      </div>
    {% endfor %}
    
  </div>
  {# Admin user overview #}


{% endblock content %}