{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
	<div class="row">
		<h1>Notifications</h1>
	</div>
	<div class="row">
		{% if notifications %}
			{% for notification in notifications %}
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="card-header">
							{{ notification.title }}
						</div>
						<div class="card-body">
							<p class="card-text">{{ notification.message }}</p>
							{% if 1 %}
								<a href="{% url 'dismiss_notification' notification.pk %}" class="card-link">Yes</a>
								<a href="{% url 'dismiss_notification' notification.pk %}" class="card-link">No</a>
							{% else %}
								<a href="{% url 'dismiss_notification' notification.pk %}" class="card-link">Dismiss</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<p>You currently have no new notifications.</p>
		{% endif %}
	</div>
</div>
{% endblock content %}
