{% extends "base.html" %}
{% load i18n qr_code %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Your QR code</h1>
			{% qr_from_text user.id size="M" %}
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Notifications</h1>
		</div>
	</div>
	<div class="row blood-type-row">
		{% if notifications %}
			<div class="card-deck">
				{% for notification in notifications %}
					<div class="col-4 mb-3">
						<div class="card" style="width: 18rem;">
							<div class="card-header">
								{{ notification.title }}
							</div>
							<div class="card-body">
								<p class="card-text">{{ notification.message }}</p>
								{% if notification.event %}
									<a href="{% url 'respond_event' notification.pk 'YES' %}" class="card-link">Yes</a>
									<a href="{% url 'respond_event' notification.pk 'NO' %}" class="card-link">No</a>
								{% else %}
									<a href="{% url 'dismiss_notification' notification.pk %}" class="card-link">Dismiss</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p>You currently have no new notifications.</p>
		{% endif %}
	</div>
</div>
{% endblock content %}
